.img{
    position: absolute;
    z-index: 1;
    transform: scale(.7,.7) translate(-390px,-250px);
    
}


.tite{
    transform: translate(520px,0px);
    font-size: 70px;
    position:absolute;
    z-index: 2;
    animation-name: tai;
    animation-duration: 1s;
    animation-fill-mode:none;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes tai{
    0% {text-shadow: 1px 1px 4px rgb(119, 119, 255)}
    100% {text-shadow: 1px 1px 4px  rgb(0, 0, 253);}
}

h4{
    transform: translate(520px,100px);
    font-size: 20px;
    position:absolute;
    z-index: 2;
}

.form{
    font-size: 20px;
    position: absolute;
    transform: translate(380px,180px);
    z-index: 2;
}

.form input{
    font-size: 15px;
}

.opt{
    
    position: absolute;
    z-index: 2;
    transform:translate(800px,187px)
}

.opt option{
    font-size:15px ;
}
.lab{
    font-size: 20px ;
    position:absolute;
    z-index: 3;
    transform: translate(665px,180px);
}

.lis{
    font-weight: bold;
    position: absolute;
    z-index: 2;
    font-size: 17px;
    transform: translate(400px,370px);
    list-style: none;
    animation-name: res; 
    animation-duration: 5s;
    animation-direction: alternate-reverse;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
}

@keyframes res{
    0% {left:0px;top:0px}
    50% {left:10px; top: 0px}
    100% {left:0px;top:0px}
    
}

.sub{
   transform: translate(250px,30px);
}
